dotnet/shop/EpagesWebServices/Web References/AssignmentServiceRef/AssignmentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:epagestypes="urn://epages.de/WebService/EpagesTypes/2005/01" xmlns:tns="urn://epages.de/WebService/AssignmentService/2005/01" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:assignmenttypes="urn://epages.de/WebService/AssignmentTypes/2005/01" xmlns="http://schemas.xmlsoap.org/wsdl/" name="AssignmentService" targetNamespace="urn://epages.de/WebService/AssignmentService/2005/01" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <documentation>
    this is a web service for an epages e-commerce system.
    this service is a container for all methods in the catalogassignment context.
    needs ePages 5.04 or higher
  </documentation>
  <wsdl:types>
    <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn://epages.de/WebService/AssignmentService/2005/01">
      <xs:import schemaLocation="AssignmentTypes.xsd" namespace="urn://epages.de/WebService/assignmenttypes/2005/01" />
      <xs:complexType name="type_AssignProductToCatalog_In">
        <xs:annotation>
          <xs:documentation>
            input structure of an assignProductToCatalog() call.
            see assignmenttypes:TAssignProductToCatalog_Input
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="assignmenttypes:TAssignProductToCatalog_Input[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_AssignProductToCatalog_Out">
        <xs:annotation>
          <xs:documentation>
            output structure of an assignProductToCatalog() call.
            see assignmenttypes:TAssignProductToCatalog_Return
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="assignmenttypes:TAssignProductToCatalog_Return[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_RemoveProductFromCatalog_In">
        <xs:annotation>
          <xs:documentation>
            input structure of an removeProductFromCatalog() call.
            see assignmenttypes:TRemoveProductFromCatalog_Input
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="assignmenttypes:TRemoveProductFromCatalog_Input[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_RemoveProductFromCatalog_Out">
        <xs:annotation>
          <xs:documentation>
            output structure of an removeProductFromCatalog() call.
            see assignmenttypes:TRemoveProductFromCatalog_Return
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="assignmenttypes:TRemoveProductFromCatalog_Return[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_IsProductAssignedToCatalog_In">
        <xs:annotation>
          <xs:documentation>
            input structure of an isProductAssignedToCatalog() call.
            see assignmenttypes:TIsProductAssignedToCatalog_Input.
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="assignmenttypes:TIsProductAssignedToCatalog_Input[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_IsProductAssignedToCatalog_Out">
        <xs:annotation>
          <xs:documentation>
            output structure of an isProductAssignedToCatalog() call.
            see assignmenttypes:TIsProductAssignedToCatalog_Return
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="assignmenttypes:TIsProductAssignedToCatalog_Return[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_GetProductsAssignedToCatalog_In">
        <xs:annotation>
          <xs:documentation>
            input structure of an getProductsAssignedToCatalog() call.
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="xs:string[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_GetProductsAssignedToCatalog_Out">
        <xs:annotation>
          <xs:documentation>
            output structure of an getProductsAssignedToCatalog() call.
            see assignmenttypes:TGetProductsAssignedToCatalog_Return
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="assignmenttypes:TGetProductsAssignedToCatalog_Return[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_GetCatalogsAssignedToProduct_In">
        <xs:annotation>
          <xs:documentation>
            input structure of an getCatalogsAssignedToProduct() call.
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="xs:string[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_GetCatalogsAssignedToProduct_Out">
        <xs:annotation>
          <xs:documentation>
            output structure of an getCatalogsAssignedToProduct() call.
            see assignmenttypes:TGetCatalogsAssignedToProduct_Return
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="assignmenttypes:TGetCatalogsAssignedToProduct_Return[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="msg_AssignProductToCatalog_Input">
    <wsdl:part name="Assignments" type="tns:type_AssignProductToCatalog_In" />
  </wsdl:message>
  <wsdl:message name="msg_AssignProductToCatalog_Output">
    <wsdl:part name="Assignments" type="tns:type_AssignProductToCatalog_Out" />
  </wsdl:message>
  <wsdl:message name="msg_RemoveProductFromCatalog_Input">
    <wsdl:part name="Assignments" type="tns:type_RemoveProductFromCatalog_In" />
  </wsdl:message>
  <wsdl:message name="msg_RemoveProductFromCatalog_Output">
    <wsdl:part name="Assignments" type="tns:type_RemoveProductFromCatalog_Out" />
  </wsdl:message>
  <wsdl:message name="msg_IsProductAssignedToCatalog_Input">
    <wsdl:part name="Assignments" type="tns:type_IsProductAssignedToCatalog_In" />
  </wsdl:message>
  <wsdl:message name="msg_IsProductAssignedToCatalog_Output">
    <wsdl:part name="Assignments" type="tns:type_IsProductAssignedToCatalog_Out" />
  </wsdl:message>
  <wsdl:message name="msg_GetProductsAssignedToCatalog_Input">
    <wsdl:part name="Catalogs" type="tns:type_GetProductsAssignedToCatalog_In" />
  </wsdl:message>
  <wsdl:message name="msg_GetProductsAssignedToCatalog_Output">
    <wsdl:part name="Assignments" type="tns:type_GetProductsAssignedToCatalog_Out" />
  </wsdl:message>
  <wsdl:message name="msg_GetCatalogsAssignedToProduct_Input">
    <wsdl:part name="Products" type="tns:type_GetCatalogsAssignedToProduct_In" />
  </wsdl:message>
  <wsdl:message name="msg_GetCatalogsAssignedToProduct_Output">
    <wsdl:part name="Assignments" type="tns:type_GetCatalogsAssignedToProduct_Out" />
  </wsdl:message>
  <wsdl:portType name="port_Assignment">
    <wsdl:operation name="assignProductToCatalog">
      <documentation>assign products to catalogs</documentation>
      <wsdl:input message="tns:msg_AssignProductToCatalog_Input" />
      <wsdl:output message="tns:msg_AssignProductToCatalog_Output" />
    </wsdl:operation>
    <wsdl:operation name="removeProductFromCatalog">
      <documentation>unassign a product from a catalog</documentation>
      <wsdl:input message="tns:msg_RemoveProductFromCatalog_Input" />
      <wsdl:output message="tns:msg_RemoveProductFromCatalog_Output" />
    </wsdl:operation>
    <wsdl:operation name="isProductAssignedToCatalog">
      <documentation>check if a product is assigned to a catalog</documentation>
      <wsdl:input message="tns:msg_IsProductAssignedToCatalog_Input" />
      <wsdl:output message="tns:msg_IsProductAssignedToCatalog_Output" />
    </wsdl:operation>
    <wsdl:operation name="getProductsAssignedToCatalog">
      <documentation>get products assigned to a catalog</documentation>
      <wsdl:input message="tns:msg_GetProductsAssignedToCatalog_Input" />
      <wsdl:output message="tns:msg_GetProductsAssignedToCatalog_Output" />
    </wsdl:operation>
    <wsdl:operation name="getCatalogsAssignedToProduct">
      <documentation>get catalogs the product is assigned to</documentation>
      <wsdl:input message="tns:msg_GetCatalogsAssignedToProduct_Input" />
      <wsdl:output message="tns:msg_GetCatalogsAssignedToProduct_Output" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="bind_Assignment_SOAP" type="tns:port_Assignment">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="assignProductToCatalog">
      <soap:operation soapAction="urn://epages.de/WebService/AssignmentService/2005/01#assignProductToCatalog" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/AssignmentService/2005/01" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/AssignmentService/2005/01" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeProductFromCatalog">
      <soap:operation soapAction="urn://epages.de/WebService/AssignmentService/2005/01#removeProductFromCatalog" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/AssignmentService/2005/01" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/AssignmentService/2005/01" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isProductAssignedToCatalog">
      <soap:operation soapAction="urn://epages.de/WebService/AssignmentService/2005/01#isProductAssignedToCatalog" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/AssignmentService/2005/01" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/AssignmentService/2005/01" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductsAssignedToCatalog">
      <soap:operation soapAction="urn://epages.de/WebService/AssignmentService/2005/01#getProductsAssignedToCatalog" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/AssignmentService/2005/01" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/AssignmentService/2005/01" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCatalogsAssignedToProduct">
      <soap:operation soapAction="urn://epages.de/WebService/AssignmentService/2005/01#getCatalogsAssignedToProduct" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/AssignmentService/2005/01" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/AssignmentService/2005/01" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AssignmentService">
    <documentation>epages Catalog Assignment Service</documentation>
    <wsdl:port name="port_Assignment" binding="tns:bind_Assignment_SOAP">
      <soap:address location="http://localhost/epages/Store.soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>