dotnet/EpagesWebServices/Web References/PriceListServiceRef/PriceListTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn://epages.de/WebService/PriceListTypes/2005/01" xmlns:epagestypes="urn://epages.de/WebService/EpagesTypes/2005/01" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn://epages.de/WebService/PriceListTypes/2005/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="EpagesTypes.xsd" namespace="urn://epages.de/WebService/EpagesTypes/2005/01" />
  <xs:complexType name="TGetInfo_Return">
    <xs:annotation>
      <xs:documentation>
        a single return value of a getInfo() pricelist call.
        the path will be always returned.
        the error element will be returned in case of error.
        all other elements will be returned if no error has occured.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="Path" type="xs:string">
        <xs:annotation>
          <xs:documentation>pricelist path</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Alias" type="xs:string">
        <xs:annotation>
          <xs:documentation>pricelist alias</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Class" type="xs:string">
        <xs:annotation>
          <xs:documentation>pricelist class (object path)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Name" type="epagestypes:ListOfLocalizedValues">
        <xs:annotation>
          <xs:documentation>pricelist's name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CurrencyID" type="xs:string">
        <xs:annotation>
          <xs:documentation>pricelist's currency (e.g. 'USD')</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TaxModel" type="xs:string">
        <xs:annotation>
          <xs:documentation>pricelist's tax model ('gross' or 'net')</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="IsEffective" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>indicates, if the price list's time frame matches with the current time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ValidFrom" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>the begin of the price list's time frame</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ValidTo" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>the end of the price list's time frame</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Customers" type="tns:ListOfCustomerPaths">
        <xs:annotation>
          <xs:documentation>
            list of paths to customers, that are assigned to the pricelist
            (see pricelisttypes:ListOfCustomerPaths)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CustomerGroups" type="tns:ListOfCustomerGroupPaths">
        <xs:annotation>
          <xs:documentation>
            list of paths to customer groups, that are assigned to the pricelist
            (see pricelisttypes:ListOfCustomerGroupPaths)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Attributes" type="epagestypes:ListOfAttributes">
        <xs:annotation>
          <xs:documentation>list of requested attributes (see epagestypes:ListOfAttributes)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Error" type="epagestypes:TError">
        <xs:annotation>
          <xs:documentation>error object (see epagestypes:TError)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="TExists_Return">
    <xs:annotation>
      <xs:documentation>
        a single return value of a exists() pricelist call.
        the path will be always returned.
        the error element will be returned in case of error.
        the exists flag will be returned if no error has occured.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="Path" type="xs:string" />
      <xs:element minOccurs="0" name="exists" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>a boolean flag indicating that this pricelist exists</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Error" type="epagestypes:TError">
        <xs:annotation>
          <xs:documentation>error object (see epagestypes:TError)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="TDelete_Return">
    <xs:annotation>
      <xs:documentation>
        a single return value of a delete() pricelist call.
        the path will be always returned.
        the error element will be returned in case of error.
        the deleted flag will be returned if no error has occured.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="Path" type="xs:string" />
      <xs:element minOccurs="0" name="deleted" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>a boolean flag indicating that this pricelist was deleted</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Error" type="epagestypes:TError">
        <xs:annotation>
          <xs:documentation>error object (see epagestypes:TError)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="TUpdate_Input">
    <xs:annotation>
      <xs:documentation>
        input arguments of a single update() pricelist call.
        a set of optional pricelist specific attributes that will be updated.
        the path element is mandatory.
        all others are optional.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="Path" type="xs:string">
        <xs:annotation>
          <xs:documentation>pricelist path</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Name" type="epagestypes:ListOfLocalizedValues">
        <xs:annotation>
          <xs:documentation>pricelist's name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TaxModel" type="xs:string">
        <xs:annotation>
          <xs:documentation>pricelist's tax model ('gross' or 'net')</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ValidFrom" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>the begin of the price list's time frame</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ValidTo" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>the end of the price list's time frame</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Customers" type="tns:ListOfCustomerPaths">
        <xs:annotation>
          <xs:documentation>list of customer paths for this pricelist (see pricelisttypes:ListOfListOfCustomerPaths)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CustomerGroups" type="tns:ListOfCustomerGroupPaths">
        <xs:annotation>
          <xs:documentation>list of customer group paths for this pricelist (see pricelisttypes:ListOfListOfCustomerGroupPaths)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Attributes" type="epagestypes:ListOfAttributes">
        <xs:annotation>
          <xs:documentation>list of requested attributes (see epagestypes:ListOfAttributes)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="TUpdate_Return">
    <xs:annotation>
      <xs:documentation>
        a single return value of a update() pricelist call.
        the path will be always returned.
        the error element will be returned in case of error.
        the updated flag will be returned if no error has occured.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="Path" type="xs:string" />
      <xs:element minOccurs="0" name="updated" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>a boolean flag indicating that this pricelist was updated</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Error" type="epagestypes:TError">
        <xs:annotation>
          <xs:documentation>error object (see epagestypes:TError)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="TCreate_Input">
    <xs:annotation>
      <xs:documentation>
        input arguments of a single create() pricelist call.
        a set of pricelist specific attributes that will be used to create a pricelist.
        alias, validFrom, validTo and currency are mandatory.
        variation attributes are mandatory for creation of sub pricelists.
        all others are optional.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="Alias" type="xs:string">
        <xs:annotation>
          <xs:documentation>pricelist alias</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Name" type="epagestypes:ListOfLocalizedValues">
        <xs:annotation>
          <xs:documentation>pricelist's name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrencyID" type="xs:string">
        <xs:annotation>
          <xs:documentation>pricelist's currency (e.g. 'USD')</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TaxModel" type="xs:string">
        <xs:annotation>
          <xs:documentation>obsolete, will be ignored</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ValidFrom" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>the begin of the price list's time frame</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ValidTo" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>the end of the price list's time frame</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Customers" type="tns:ListOfCustomerPaths">
        <xs:annotation>
          <xs:documentation>list of customer paths for this pricelist (see pricelisttypes:ListOfListOfCustomerPaths)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CustomerGroups" type="tns:ListOfCustomerGroupPaths">
        <xs:annotation>
          <xs:documentation>list of customer group paths for this pricelist (see pricelisttypes:ListOfListOfCustomerGroupPaths)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Attributes" type="epagestypes:ListOfAttributes">
        <xs:annotation>
          <xs:documentation>list of requested attributes (see epagestypes:ListOfAttributes)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="TCreate_Return">
    <xs:annotation>
      <xs:documentation>
        a single return value of a create() pricelist call.
        the alias will be always returned.
        the error element will be returned in case of error.
        the created flag and path will be returned if no error has occured.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="Alias" type="xs:string" />
      <xs:element minOccurs="0" name="Path" type="xs:string" />
      <xs:element minOccurs="0" name="created" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>a boolean flag indicating that this pricelist was created</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Error" type="epagestypes:TError">
        <xs:annotation>
          <xs:documentation>error object (see epagestypes:TError)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ListOfCustomerPaths">
    <xs:annotation>
      <xs:documentation>
        list of customer paths.
        each element is a object path of a customer.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:restriction base="soapenc:Array">
        <xs:attribute wsdl:arrayType="xs:string[]" ref="soapenc:arrayType" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ListOfCustomerGroupPaths">
    <xs:annotation>
      <xs:documentation>
        list of customer group paths.
        each element is a object path of a customer group.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:restriction base="soapenc:Array">
        <xs:attribute wsdl:arrayType="xs:string[]" ref="soapenc:arrayType" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>