dotnet/EpagesWebServices/Web References/UserService5Ref/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn://epages.de/WebService/UserService/2011/03" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:usertypes="urn://epages.de/WebService/UserTypes/2011/03" xmlns="http://schemas.xmlsoap.org/wsdl/" name="UserService" targetNamespace="urn://epages.de/WebService/UserService/2011/03" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <documentation>
    this is a web service for an epages e-commerce system.
    this service is a container for all methods in the user context.
    needs ePages 6.11.3 or higher
  </documentation>
  <wsdl:types>
    <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn://epages.de/WebService/UserService/2011/03">
      <xs:import schemaLocation="UserTypes5.xsd" namespace="urn://epages.de/WebService/UserTypes/2011/03" />
      <xs:complexType name="type_GetInfo_In">
        <xs:annotation>
          <xs:documentation>
            input structure of an getInfo() user call.
            a simple list of user paths.
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="xs:string[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_GetInfo_Out">
        <xs:annotation>
          <xs:documentation>
            output structure of an getInfo() user call.
            see usertypes:TGetInfo_Return
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="usertypes:TGetInfo_Return[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_AttributeNames_In">
        <xs:annotation>
          <xs:documentation>
            additional input of a getInfo() user call.
            a simple list of attribute names.
            defines the content of the returned attribute name-value list.
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="xs:string[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_Exists_In">
        <xs:annotation>
          <xs:documentation>
            input structure of an exists() user call.
            a simple list of user paths.
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="xs:string[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_Exists_Out">
        <xs:annotation>
          <xs:documentation>
            output structure of an exists() user call.
            see usertypes:TExists_Return
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="usertypes:TExists_Return[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_SendPassword_In">
        <xs:annotation>
          <xs:documentation>
            input structure of an sendPassword() user call.
            a simple list of user paths.
            the user will get an email with a Url to enter a new password
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="xs:string[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_SendPassword_Out">
        <xs:annotation>
          <xs:documentation>
            output structure of an sendPassword() user call.
            see usertypes:TSendPassword_Return
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="usertypes:TSendPassword_Return[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_Delete_In">
        <xs:annotation>
          <xs:documentation>
            input structure of an delete() user call.
            a simple list of user paths.
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="xs:string[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_Delete_Out">
        <xs:annotation>
          <xs:documentation>
            output structure of an delete() user call.
            see usertypes:TGetInfo_Return
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="usertypes:TDelete_Return[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_Update_In">
        <xs:annotation>
          <xs:documentation>
            input structure of an update() user call.
            see usertypes:TUpdate_Input
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="usertypes:TUpdate_Input[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_Update_Out">
        <xs:annotation>
          <xs:documentation>
            output structure of an update() user call.
            see usertypes:TUpdate_Return
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="usertypes:TUpdate_Return[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_Create_In">
        <xs:annotation>
          <xs:documentation>
            input structure of an create() user call.
            see usertypes:TCreate_Input
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="usertypes:TCreate_Input[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_Create_Out">
        <xs:annotation>
          <xs:documentation>
            output structure of an create() user call.
            see usertypes:TCreate_Return
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="usertypes:TCreate_Return[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_Find_Input">
        <xs:annotation>
          <xs:documentation>
            input structure of an find() user call.
            a set of optional search parameters.
          </xs:documentation>
        </xs:annotation>
        <xs:all>
          <xs:element minOccurs="0" name="Name" type="xs:string">
            <xs:annotation>
              <xs:documentation>search for part of user name or login name</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Alias" type="xs:string">
            <xs:annotation>
              <xs:documentation>search for part of user alias (login name)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="EMail" type="xs:string">
            <xs:annotation>
              <xs:documentation>search for part of user email</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Group" type="xs:string">
            <xs:annotation>
              <xs:documentation>search for a specific group the user have to assigned to</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ExcludeGroup" type="xs:string">
            <xs:annotation>
              <xs:documentation>search only users that musst not assigned to this group (i.e. Merchants)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:all>
      </xs:complexType>
      <xs:complexType name="type_Find_Out">
        <xs:annotation>
          <xs:documentation>
            output structure of an find() user call.
            a simple list of user paths.
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="xs:string[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="msg_GetInfo_Input">
    <wsdl:part name="Users" type="tns:type_GetInfo_In" />
    <wsdl:part name="Attributes" type="tns:type_AttributeNames_In" />
    <wsdl:part name="AddressAttributes" type="tns:type_AttributeNames_In" />
  </wsdl:message>
  <wsdl:message name="msg_GetInfo_Output">
    <wsdl:part name="Users" type="tns:type_GetInfo_Out" />
  </wsdl:message>
  <wsdl:message name="msg_Exists_Input">
    <wsdl:part name="Users" type="tns:type_Exists_In" />
  </wsdl:message>
  <wsdl:message name="msg_Exists_Output">
    <wsdl:part name="Users" type="tns:type_Exists_Out" />
  </wsdl:message>
  <wsdl:message name="msg_SendPassword_Input">
    <wsdl:part name="Users" type="tns:type_SendPassword_In" />
  </wsdl:message>
  <wsdl:message name="msg_SendPassword_Output">
    <wsdl:part name="Users" type="tns:type_SendPassword_Out" />
  </wsdl:message>
  <wsdl:message name="msg_Delete_Input">
    <wsdl:part name="Users" type="tns:type_Delete_In" />
  </wsdl:message>
  <wsdl:message name="msg_Delete_Output">
    <wsdl:part name="Users" type="tns:type_Delete_Out" />
  </wsdl:message>
  <wsdl:message name="msg_Update_Input">
    <wsdl:part name="Users" type="tns:type_Update_In" />
  </wsdl:message>
  <wsdl:message name="msg_Update_Output">
    <wsdl:part name="Users" type="tns:type_Update_Out" />
  </wsdl:message>
  <wsdl:message name="msg_Create_Input">
    <wsdl:part name="Users" type="tns:type_Create_In" />
  </wsdl:message>
  <wsdl:message name="msg_Create_Output">
    <wsdl:part name="Users" type="tns:type_Create_Out" />
  </wsdl:message>
  <wsdl:message name="msg_Find_Input">
    <wsdl:part name="SearchParameters" type="tns:type_Find_Input" />
  </wsdl:message>
  <wsdl:message name="msg_Find_Output">
    <wsdl:part name="Customers" type="tns:type_Find_Out" />
  </wsdl:message>
  <wsdl:portType name="port_User">
    <wsdl:operation name="getInfo">
      <documentation>get information about a list of users</documentation>
      <wsdl:input message="tns:msg_GetInfo_Input" />
      <wsdl:output message="tns:msg_GetInfo_Output" />
    </wsdl:operation>
    <wsdl:operation name="exists">
      <documentation>check if a list of users exist.</documentation>
      <wsdl:input message="tns:msg_Exists_Input" />
      <wsdl:output message="tns:msg_Exists_Output" />
    </wsdl:operation>
    <wsdl:operation name="sendPassword">
      <documentation>send user a link to enter a new password.</documentation>
      <wsdl:input message="tns:msg_SendPassword_Input" />
      <wsdl:output message="tns:msg_SendPassword_Output" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <documentation>delete a list of users</documentation>
      <wsdl:input message="tns:msg_Delete_Input" />
      <wsdl:output message="tns:msg_Delete_Output" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <documentation>update a list of users</documentation>
      <wsdl:input message="tns:msg_Update_Input" />
      <wsdl:output message="tns:msg_Update_Output" />
    </wsdl:operation>
    <wsdl:operation name="create">
      <documentation>create new users</documentation>
      <wsdl:input message="tns:msg_Create_Input" />
      <wsdl:output message="tns:msg_Create_Output" />
    </wsdl:operation>
    <wsdl:operation name="find">
      <documentation>find customers</documentation>
      <wsdl:input message="tns:msg_Find_Input" />
      <wsdl:output message="tns:msg_Find_Output" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="bind_User_SOAP" type="tns:port_User">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getInfo">
      <soap:operation soapAction="urn://epages.de/WebService/UserService/2011/03#getInfo" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/UserService/2011/03" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/UserService/2011/03" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exists">
      <soap:operation soapAction="urn://epages.de/WebService/UserService/2011/03#exists" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/UserService/2011/03" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/UserService/2011/03" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendPassword">
      <soap:operation soapAction="urn://epages.de/WebService/UserService/2011/03#sendPassword" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/UserService/2011/03" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/UserService/2011/03" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="urn://epages.de/WebService/UserService/2011/03#delete" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/UserService/2011/03" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/UserService/2011/03" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="urn://epages.de/WebService/UserService/2011/03#update" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/UserService/2011/03" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/UserService/2011/03" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction="urn://epages.de/WebService/UserService/2011/03#create" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/UserService/2011/03" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/UserService/2011/03" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="find">
      <soap:operation soapAction="urn://epages.de/WebService/UserService/2011/03#find" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/UserService/2011/03" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/UserService/2011/03" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <documentation>epages User Service</documentation>
    <wsdl:port name="port_User" binding="tns:bind_User_SOAP">
      <soap:address location="http://localhost/epages/Store.soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>