dotnet/shop/EpagesWebServices/Web References/ChangeLogServiceRef/ChangeLogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn://epages.de/WebService/ChangeLogService/2014/06" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="ChangeLogService" targetNamespace="urn://epages.de/WebService/ChangeLogService/2014/06" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <documentation>
    This is a web service for an epages e-commerce system.
    This service provide to get information about updates/deletes of objects.
    needs ePages 6.17.5 or higher
  </documentation>
  <wsdl:types>
    <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn://epages.de/WebService/ChangeLogService/2014/06">
      <xs:complexType name="TFindCreatedObjects_Return">
        <xs:all>
          <xs:element name="CreatedObjects" type="tns:TListOfFindCreatedObjects" />
          <xs:element name="LatestCreate" type="xs:dateTime" />
        </xs:all>
      </xs:complexType>
      <xs:complexType name="TListOfFindCreatedObjects">
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="tns:TFindCreatedObject[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TFindCreatedObject">
        <xs:all>
          <xs:element minOccurs="0" name="Path" type="xs:string" />
          <xs:element minOccurs="0" name="GUID" type="xs:string" />
        </xs:all>
      </xs:complexType>
      <xs:complexType name="TFindDeletedObjects_Return">
        <xs:all>
          <xs:element name="DeletedObjects" type="tns:TListOfFindDeletedObject" />
          <xs:element name="LatestDelete" type="xs:dateTime" />
        </xs:all>
      </xs:complexType>
      <xs:complexType name="TListOfFindDeletedObject">
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="tns:TFindDeletedObject[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TFindDeletedObject">
        <xs:all>
          <xs:element minOccurs="0" name="Path" type="xs:string" />
          <xs:element minOccurs="0" name="GUID" type="xs:string" />
        </xs:all>
      </xs:complexType>
      <xs:complexType name="TFindUpdatedObjects_Return">
        <xs:all>
          <xs:element name="UpdatedObjects" type="tns:TListOfFindUpdatedObjects" />
          <xs:element name="LatestUpdate" type="xs:dateTime" />
        </xs:all>
      </xs:complexType>
      <xs:complexType name="TListOfFindUpdatedObjects">
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="tns:TFindUpdatedObject[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TFindUpdatedObject">
        <xs:all>
          <xs:element minOccurs="0" name="Path" type="xs:string" />
          <xs:element minOccurs="0" name="GUID" type="xs:string" />
        </xs:all>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="msg_findDeletedObject_Input">
    <wsdl:part name="DeletedSince" type="xs:dateTime" />
    <wsdl:part name="Class" type="xs:string" />
  </wsdl:message>
  <wsdl:message name="msg_findDeletedObject_Output">
    <wsdl:part name="DeletedSet" type="tns:TFindDeletedObjects_Return" />
  </wsdl:message>
  <wsdl:message name="msg_findCreatedObjects_Input">
    <wsdl:part name="CreatedSince" type="xs:dateTime" />
    <wsdl:part name="Class" type="xs:string" />
  </wsdl:message>
  <wsdl:message name="msg_findCreatedObjects_Output">
    <wsdl:part name="CreatedSet" type="tns:TFindCreatedObjects_Return" />
  </wsdl:message>
  <wsdl:message name="msg_findUpdatedObjects_Input">
    <wsdl:part name="UpdatedSince" type="xs:dateTime" />
    <wsdl:part name="Class" type="xs:string" />
    <wsdl:part name="Profile" type="xs:string" />
  </wsdl:message>
  <wsdl:message name="msg_findUpdatedObjects_Output">
    <wsdl:part name="UpdatedSet" type="tns:TFindUpdatedObjects_Return" />
  </wsdl:message>
  <wsdl:portType name="port_ChangeLog">
    <wsdl:operation name="findCreatedObjects">
      <documentation>find newly created objects</documentation>
      <wsdl:input message="tns:msg_findCreatedObjects_Input" />
      <wsdl:output message="tns:msg_findCreatedObjects_Output" />
    </wsdl:operation>
    <wsdl:operation name="findDeletedObjects">
      <documentation>find deleted objects</documentation>
      <wsdl:input message="tns:msg_findDeletedObject_Input" />
      <wsdl:output message="tns:msg_findDeletedObject_Output" />
    </wsdl:operation>
    <wsdl:operation name="findUpdatedObjects">
      <documentation>find updated objects (includes created objects if data set related to profile)</documentation>
      <wsdl:input message="tns:msg_findUpdatedObjects_Input" />
      <wsdl:output message="tns:msg_findUpdatedObjects_Output" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="bind_ChangeLog_SOAP" type="tns:port_ChangeLog">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="findCreatedObjects">
      <soap:operation soapAction="urn://epages.de/WebService/ChangeLogService/2014/06#findCreatedObjects" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/ChangeLogService/2014/06" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/ChangeLogService/2014/06" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findDeletedObjects">
      <soap:operation soapAction="urn://epages.de/WebService/ChangeLogService/2014/06#findDeletedObjects" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/ChangeLogService/2014/06" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/ChangeLogService/2014/06" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findUpdatedObjects">
      <soap:operation soapAction="urn://epages.de/WebService/ChangeLogService/2014/06#findUpdatedObjects" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/ChangeLogService/2014/06" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/ChangeLogService/2014/06" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChangeLogService">
    <documentation>epages update service</documentation>
    <wsdl:port name="port_ChangeLog" binding="tns:bind_ChangeLog_SOAP">
      <soap:address location="http://localhost/epages/Store.soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>