dotnet/EpagesWebServices/Web References/CrossSellingServiceRef/CrossSellingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:epagestypes="urn://epages.de/WebService/EpagesTypes/2005/01" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn://epages.de/WebService/CrossSellingService/2006/05" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:crosssellingtypes="urn://epages.de/WebService/CrossSellingTypes/2006/05" xmlns="http://schemas.xmlsoap.org/wsdl/" name="CrossSellingService" targetNamespace="urn://epages.de/WebService/CrossSellingService/2006/05" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <documentation>
    this is a web service for an epages e-commerce system.
    this service is a container for all methods in the cross selling context.
  </documentation>
  <wsdl:types>
    <xs:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn://epages.de/WebService/CrossSellingService/2006/05">
      <xs:import schemaLocation="CrossSellingTypes.xsd" namespace="urn://epages.de/WebService/crosssellingtypes/2006/05" />
      <xs:complexType name="type_InsertCrossSelling_In">
        <xs:annotation>
          <xs:documentation>
            input structure of an insert() call. see crosssellingtypes:TInsertCrossSelling_Input
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="crosssellingtypes:TInsertCrossSelling_Input[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_InsertCrossSelling_Out">
        <xs:annotation>
          <xs:documentation>
            output structure of an insert() call. see crosssellingtypes:TInsertCrossSelling_Return
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="crosssellingtypes:TInsertCrossSelling_Return[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_DeleteCrossSelling_In">
        <xs:annotation>
          <xs:documentation>
            input structure of an delete() call. see crosssellingtypes:TDeleteCrossSelling_Input
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="crosssellingtypes:TDeleteCrossSelling_Input[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_DeleteCrossSelling_Out">
        <xs:annotation>
          <xs:documentation>
            output structure of an delete() call. see crosssellingtypes:TDeleteCrossSelling_Return
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="crosssellingtypes:TDeleteCrossSelling_Return[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_ExistsCrossSelling_In">
        <xs:annotation>
          <xs:documentation>
            input structure of an exists() call. see crosssellingtypes:TExistsCrossSelling_Input
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="crosssellingtypes:TExistsCrossSelling_Input[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_ExistsCrossSelling_Out">
        <xs:annotation>
          <xs:documentation>
            output structure of an exists() call. see crosssellingtypes:TExistsCrossSelling_Return
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="crosssellingtypes:TExistsCrossSelling_Return[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_GetCrossSelling_In">
        <xs:annotation>
          <xs:documentation>
            input structure of an get() call. see crosssellingtypes:TGetCrossSelling_Input
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="crosssellingtypes:TGetCrossSelling_Input[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="type_GetCrossSelling_Out">
        <xs:annotation>
          <xs:documentation>
            output structure of an get() call. see crosssellingtypes:TGetCrossSelling_Return
          </xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:attribute wsdl:arrayType="crosssellingtypes:TGetCrossSelling_Return[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="msg_InsertCrossSelling_Input">
    <wsdl:part name="CrossSellings" type="tns:type_InsertCrossSelling_In" />
  </wsdl:message>
  <wsdl:message name="msg_InsertCrossSelling_Output">
    <wsdl:part name="CrossSellings" type="tns:type_InsertCrossSelling_Out" />
  </wsdl:message>
  <wsdl:message name="msg_DeleteCrossSelling_Input">
    <wsdl:part name="CrossSellings" type="tns:type_DeleteCrossSelling_In" />
  </wsdl:message>
  <wsdl:message name="msg_DeleteCrossSelling_Output">
    <wsdl:part name="CrossSellings" type="tns:type_DeleteCrossSelling_Out" />
  </wsdl:message>
  <wsdl:message name="msg_ExistsCrossSelling_Input">
    <wsdl:part name="CrossSellings" type="tns:type_ExistsCrossSelling_In" />
  </wsdl:message>
  <wsdl:message name="msg_ExistsCrossSelling_Output">
    <wsdl:part name="CrossSellings" type="tns:type_ExistsCrossSelling_Out" />
  </wsdl:message>
  <wsdl:message name="msg_GetCrossSelling_Input">
    <wsdl:part name="CrossSellings" type="tns:type_GetCrossSelling_In" />
  </wsdl:message>
  <wsdl:message name="msg_GetCrossSelling_Output">
    <wsdl:part name="CrossSellings" type="tns:type_GetCrossSelling_Out" />
  </wsdl:message>
  <wsdl:portType name="port_CrossSelling">
    <wsdl:operation name="insert">
      <documentation>insert a cross selling (assign target product to product)</documentation>
      <wsdl:input message="tns:msg_InsertCrossSelling_Input" />
      <wsdl:output message="tns:msg_InsertCrossSelling_Output" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <documentation>delete a cross selling (delete assignment of target product to product)</documentation>
      <wsdl:input message="tns:msg_DeleteCrossSelling_Input" />
      <wsdl:output message="tns:msg_DeleteCrossSelling_Output" />
    </wsdl:operation>
    <wsdl:operation name="exists">
      <documentation>check if exists a cross selling (if target product assigned to product)</documentation>
      <wsdl:input message="tns:msg_ExistsCrossSelling_Input" />
      <wsdl:output message="tns:msg_ExistsCrossSelling_Output" />
    </wsdl:operation>
    <wsdl:operation name="get">
      <documentation>get a cross selling (target products assigned to product)</documentation>
      <wsdl:input message="tns:msg_GetCrossSelling_Input" />
      <wsdl:output message="tns:msg_GetCrossSelling_Output" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="bind_CrossSelling_SOAP" type="tns:port_CrossSelling">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="insert">
      <soap:operation soapAction="urn://epages.de/WebService/CrossSellingService/2006/05#insert" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/CrossSellingService/2006/05" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/CrossSellingService/2006/05" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="urn://epages.de/WebService/CrossSellingService/2006/05#delete" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/CrossSellingService/2006/05" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/CrossSellingService/2006/05" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exists">
      <soap:operation soapAction="urn://epages.de/WebService/CrossSellingService/2006/05#exists" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/CrossSellingService/2006/05" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/CrossSellingService/2006/05" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap:operation soapAction="urn://epages.de/WebService/CrossSellingService/2006/05#get" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/CrossSellingService/2006/05" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn://epages.de/WebService/CrossSellingService/2006/05" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CrossSellingService">
    <documentation>epages5 Cross Selling Service</documentation>
    <wsdl:port name="port_CrossSelling" binding="tns:bind_CrossSelling_SOAP">
      <soap:address location="http://localhost/epages/Store.soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>